.user_list__message {
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  margin: 20px;
}

.user_item__wrapper {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  justify-content: space-between;
}

.user_item__wrapper:hover {
  cursor: pointer;
}

.user_item__name_wrapper {
  display: flex;
  align-items: center;
  flex: 2;
  text-align: left;
}

.user_item__wrapper p {
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #2c2c30;
  word-break: break-all;
}

.user_item__name {
  font-weight: 500;
}

.user_item__last_active {
  font-weight: 400;
  width: 30%;
  flex: 0.5;
  text-align: right;

  margin: 0px 20px;
}

.user_item__invite_empty {
  height: 28px;
  width: 28px;
  background: #f7f6f8;
  border: 1px solid #dedddf;
  border-radius: 14px;
  box-sizing: border-box;
  margin-left: 2px;
}

.user_list__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user_list__header {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  justify-content: space-between;
}

.user_list__header p {
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #858688;
  margin-top: 16px;
}

.user_list__header p:first-child {
  flex: 2;
}

.user_list__header p:nth-child(2) {
  flex: 0.5;
  text-align: right;
  margin: 0px 20px;
}
