.str-chat {
  height: 100%;
  background-color: #1a1d24;
  width: 100%;
}

.str-chat.team.dark {
  background-color: #1a1d24;
}

.dark.str-chat .str-chat__input-flat {
  background-color: rgba(0,0,0,0);
}

.dark.str-chat .str-chat__input-flat textarea {
  background-color: #3c3f43;
}
