.align {
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    place-items: center;
  }
  
  .grid {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  * {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  :root {
    --formGap: 0.875rem;
  }
  
  .form {
    display: grid;
    grid-gap: 0.875rem;
    gap: 0.875rem;
    grid-gap: var(--formGap);
    gap: var(--formGap);
    margin-top: 20px;
  }
  
  .form input[type="password"],
  .form input[type="text"],
  .form input[type="submit"] {
    width: 100%;
  }
  
  .form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  
  .form__input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  :root {
    --loginBorderRadus: 0.25rem;
    --loginColor: #eee;
  
    --loginInputBackgroundColor: #3b4148;
    --loginInputHoverBackgroundColor: #434a52;
  
    --loginLabelBackgroundColor: #363b41;
  
    --loginSubmitBackgroundColor: #ea4c88;
    --loginSubmitColor: #eee;
    --loginSubmitHoverBackgroundColor: #d44179;
  }
  
  .login {
    color: #eee;
    color: var(--loginColor);
  }
  
  .login label,
  .login input[type="text"],
  .login input[type="password"],
  .login input[type="submit"] {
    border-radius: 0.25rem;
    border-radius: var(--loginBorderRadus);
    padding: 1rem;
  }
  
  .login label {
    background-color: #363b41;
    background-color: var(--loginLabelBackgroundColor);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .login input[type="password"],
  .login input[type="email"],
  .login input[type="text"] {
    background-color: #3b4148;
    background-color: var(--loginInputBackgroundColor);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .login input[type="password"]:focus,
  .login input[type="password"]:hover,
  .login input[type="email"]:focus,
  .login input[type="email"]:hover,
  .login input[type="text"]:focus,
  .login input[type="text"]:hover {
    background-color: #3b4148;
    background-color: var(--loginInputHoverBackgroundColor);
  }
  
  p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .text__left {
    text-align: left;
  }
  
  .Login_btn {
    width: 100%;
    height: 45px;
  }
  
  .college_icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    margin-bottom: 100px;
  }
  